


<div class="relative min-h-screen min-w-full bg-gray-100 sm:py-8">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

    <div class="relative  sm:rounded-xl sm:overflow-hidden shadow-black shadow-xl ">
      <div class="absolute inset-0">
        <%= image_tag "mmexport1644558570134.png", alt: "Coffee Picture", class: "h-full w-full  shadow-xl shadow-black" %>
        <div class="absolute inset-0  mix-blend-multiply"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-white">LAFON COFFEE FARMS</span>
          <span class="block text-gray-400">Sharing the hidden treasures from Yunnan</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
          <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
            <a href="/products" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-md text-gray-800 bg-white hover:bg-gray-400 hover:font-bold sm:px-8 transition-all"> Products </a>
            <a href="/contact" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-md text-amber-400 bg-gray-800 bg-opacity-60 hover:font-bold hover:bg-opacity-90 sm:px-8 transition-all"> Get in Touch </a>
          </div>
        </div>
      </div>
    </div>


    <div class="max-w-7xl  mt-8  space-y-4 lg:space-y-0 lg:mx-auto lg:inline-grid lg:grid-cols-2 lg:gap-5 lg:w-full">
      <%= image_tag "mountains.png", alt: "Coffee Picture", class: "h-full w-full rounded-xl shadow shadow-gray-800  object-center" %>
      <div class="  w-full flex flex-col space-y-12">
        <div>
          <h1 class="text-amber-600 font-extrabold text-center text-4xl my-4"> Our Farms</h1>
          <h2 class="text-gray-500 font-bold text-2xl text-center">Deep in the heart of Yunnan's mountains</h2>
        </div>
        <p class="text-gray-400 mt-3 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!</p>
      </div>
    </div>

    <div class="max-w-7xl flex flex-col-reverse mt-4  space-y-4 lg:space-y-0 lg:mx-auto lg:inline-grid lg:grid-cols-2 lg:gap-5 lg:w-full">
      <div class="  w-full flex flex-col space-y-12">
        <div>
          <h1 class="text-amber-600 font-extrabold text-center text-4xl my-4"> Our Roastery</h1>
          <h2 class="text-gray-500 font-bold text-2xl text-center">Roasted to Perfection</h2>
        </div>
        <p class="text-gray-400 mt-3 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!</p>
      </div>
      <%= image_tag "roastery.png", alt: "Coffee Picture", class: "h-full w-full rounded-xl shadow shadow-gray-800  object-center" %>
    </div>
<!-- begining of new-->
    <div class="max-w-7xl  mt-8  space-y-4 lg:space-y-0 lg:mx-auto lg:inline-grid lg:grid-cols-2 lg:gap-5 lg:w-full">
      <%= image_tag "shipping.png", alt: "Coffee Picture", class: "h-full w-full rounded-xl shadow shadow-gray-800  object-center" %>
      <div class="  w-full flex flex-col space-y-12">
        <div>
          <h1 class="text-amber-600 font-extrabold text-center text-4xl my-4"> Logistics</h1>
          <h2 class="text-gray-500 font-bold text-2xl text-center">Flexible, Relieable, Delivery options</h2>
        </div>
        <p class="text-gray-400 mt-3 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium eum quidem fugit magnam dolores reprehenderit, ducimus quos illo earum,
         fugiat enim repellat pariatur harum numquam ullam sapiente quibusdam accusantium amet!</p>
      </div>
    </div>



  </div>
</div>
