


<div class="relative bg-gray-800">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
            <div class="absolute inset-0">
              <img class="h-full w-full object-center" src="../../assets/mmexport1644558570134.png" alt="Coffee picture">
              <div class="absolute inset-0 bg-amber-400 mix-blend-multiply"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
              <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                <span class="block text-white">LAFON COFFEE FARMS</span>
                <span class="block text-gray-400">Sharing the hidden treasures from Yunnan</span>
              </h1>
              <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
              <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                  <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-md text-gray-800 bg-white hover:bg-gray-400 hover:font-bold sm:px-8 transition-all"> Products </a>
                  <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-md text-amber-400 bg-gray-800 bg-opacity-60 hover:font-bold hover:bg-opacity-90 sm:px-8 transition-all"> Get in Touch </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
